<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.winterdemo.mapper.UserMapper">

    <!---->

    <select id="detail" parameterType="hashMap" resultType="com.thc.winterdemo.dto.UserDto$DetailResDto">
        SELECT uesr.id
             , uesr.deleted
             , uesr.created_at as createdAt
             , uesr.modified_at as modifiedAt
             , uesr.username
             , uesr.password
             , uesr.name
            , user.phone

        FROM user
        WHERE user.id = #{id}

    </select>
    <select id="list" parameterType="hashMap" resultType="com.thc.winterdemo.dto.UserDto$DetailResDto">
        SELECT user.id
        FROM user
        WHERE user.id is not NULL
        <if test = "deleted != null">AND spost.deleted = 0</if>
        <if test = "sdate != null and sdate !=''"> And user.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
        <if test = "fdate != null and fdate !=''">And CONCAT(#{fdate}, ' 23:59:59.999999') >= user.created_at </if>
        <if test = "username != null and username !=''">AND user.username LIKE CONCAT('%', #{username}, '%')</if>
    </select>

</mapper>